/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.buttons{
   color: white;
   padding: 20px;
   background: #2196f3;
   font: 100% serif;
   text-align: center;
   margin-bottom: 10%;
 }
.link{
  color:white;
  padding: 20px;
}
a {
  text-decoration: none;
}
.link:hover{

  font: bold 100% serif;
  color: #3f51b5;
}
.container{
  width: 80%;
  margin-left: 10%;

}
.summary{
  width: 80%;
  margin-left: 10%;

}
h1{
  text-align: center;
}
table{
  text-align: center;
  margin-left: 15%;
  width:70%;
}
.forms{
  text-align: center;
  margin-left: 15%;
  width:70%;
  padding-bottom: 4%;
}
.container_sign_in{
    text-align: center;
    border: solid 5px #2156f3;
    width: 50%;
    margin-left: 25%;
    background: #2196f3cc;
    padding-bottom: 18px;


}
.destroy a{
  background-color: red;


}
.table{
  display: block;
}
